<div style="background">

<div style="width: 250px; position: fixed; background: none repeat scroll 0% 0% rgb(247, 247, 247); top: 50px; left: 45%; opacity: 0.6; padding: 15px;" class="mainmenu">
    <a target="blank" href="/products"><button style="width: 100%;">Inventory</button></a>
     <a target="blank" href="http://24houradultmart.myshopify.com"><button style="width: 100%; margin: 0px;">E - Mart</button></a>
      <a target="blank" href="http://24houradultmart.myshopify.com/admin"><button style="width: 100%; margin: 0px;">Administration</button></a>
  </div>

<%= image_tag "storefront.jpg", :class => "background_image" %>

<span style="position: absolute; font-weight: bold; left: 35%; bottom: -980px; font-size: 18px; padding: 8px 25px; opacity: 0.7; color: rgb(0, 0, 0);">GeorgePaul@Live.Ca | Paul C. George | 647 - 771 - 9529 | 12/31/2014</span>
</div>