/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 *= require select2
 *= require select2-bootstrap
 *= require foundation */
*/

body{
	background:#000;
}

.navbar{
	z-index:1000;
}
.navmenuitem{
color: #000;
font-weight: bold;
float: left;
cursor: pointer;
padding: 18px;
border-right: 1px solid #CCC;
}

.image_wrapper:hover .cameraicon{
	display:block;
}

.cameraicon{
	display:none;
position: absolute;
width: 140px;
height: 120px;

background: url("http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/3d-transparent-glass-icons-people-things/059432-3d-transparent-glass-icon-people-things-camera.png") no-repeat scroll 0px center / 140px auto transparent;
top: 5px;
left: 5px;
}

.navmenuitem:hover{
color: #000;
font-weight: bold;
float: left;
cursor: pointer;
padding: 18px;
border-right: 1px solid #CCC;
background:#fff;
}
.navmenuitem.selected{
color: #000;
font-weight: bold;
float: left;
cursor: pointer;
padding: 18px;
border-right: 1px solid #CCC;
background:#fff;
}

.loading{
width: 80px;
margin-left: auto;
margin-right: auto;
height: 80px;
}

.image_wrapper table td,.image_wrapper table tr{
  font-size:10px;
}
.image_wrapper table td{
border-radius: 6px;
background: #000;
color: #FFF;
font-weight: bold;
font-size: 15px;
padding: 0px;
text-align: center;
}

.image_wrapper table tr, table tr:nth-of-type(2n){
	background:black;
}


.image_wrapper
{
	position:relative;
	float:left;
height:600px;
		margin-bottom:15px;
		cursor:pointer;
width:350px;
		position: relative;
float: left;
margin-left: 15px;
margin-bottom: 15px;
cursor: pointer;
}

button.stocktoggle{
	color:#fff;
}

.button{
	color:#fff;
	font-weight:bold;
}

.image_wrapper span{
	display:block;
}

#products_wrapper{
	padding-top:15px;
}

.image_wrapper .title
{
	z-index:10;
	color:#fff;
	top:2x;
	left:5px;
	font-weight:bold;
	position:relative;
	font-size: 12px;
	text-align: center;
	padding-top: 12px;
}
.image_wrapper .store
{	
	position:relative;
	color:#fff;
	left:5px;
	font-size:8px;
	bottom:2px;
	position:relative;
	font-weight:bold;
}
.image_info{
	position:absolute;
	height:45px;
	width:100%;
	bottom:5px;
	background:black;
	opacity:.5
}


.image_wrapper .inventory
{	
	position:relative;
	color:#fff;
	left:5px;
	font-size:8px;
	bottom:2px;
	font-weight:bold;
}



input[type="text"].fixed_search{
	position: fixed;
bottom: 15px;
width: 455px;
height: 45px;
text-indent: 15px;
font-weight: bold;
font-size: 20px;
left:35%;
}

body{
	padding:0;
	margin:0;
}

.select2-container{
	min-width:180px;
}


.pagination a {color:#000;font-weight:bold;font-size:12px;margin-top:9px;}

.pagination .current{
	color:green;
	font-weight:bold;
}

.pagination .previous_page{
	color:red;
	font-weight:bold;
}

.current{
	font-size:8px;
}

.button_wrapper{
	position:absolute;
	top:15px;
	left:15px;
	display:none;
}
.button_wrapper button{
width:100px;
}

.image_wrapper:hover .button_wrapper {
display:block;
}

.button_wrapper .button{
	margin:0;
	margin-bottom:3px;
}

.main_images{
margin-bottom: 25px;
border: #ccc 1px solid;
width:350px;
height:350px;
}


.image_wrapper table{
border: medium none;
position: relative;
left: 2px;
top: -30px;
width: 350px;
border-spacing: 4px;
background: #777;
}

