<select id="orderby" href="/positemsonly">
<option value="all">Wall Sort</option>

<option value="name ASC">Name ASC</option>
<option value="name DESC">Name DESC</option>


<option value="category ASC">Category ASC</option>
<option value="category DESC">Category DESC</option>


<option value="description ASC">Description ASC</option>
<option value="description DESC">Description DESC</option>


<option value="cost_price ASC">Cost Price ASC</option>
<option value="cost_price DESC">Cost Price DESC</option>

<option value="unit_price ASC">Unit Price ASC</option>
<option value="unit_price DESC">Unit Price DESC</option>

<option value="promo_price ASC">Promo Price ASC</option>
<option value="promo_price DESC">Promo Price DESC</option>

<option value="quantity ASC">Quantity ASC</option>
<option value="quantity DESC">Quantity DESC</option>

<option value="reorder_level ASC">Re Order Level ASC</option>
<option value="reorder_level DESC">Re Order Level DESC</option>


</select>
