<select id="orderby" href="/positemsonly">
<option id="placeholder">Sort</option>

<option value="all">Wall Sort</option>

<option value="Name ASC">Name ASC</option>
<option value="Name DESC">Name DESC</option>


<option value="Category ASC">Category ASC</option>
<option value="Category DESC">Category DESC</option>


<option value="Description ASC">Description ASC</option>
<option value="Description DESC">Description DESC</option>


<option value="Cost_price ASC">Cost Price ASC</option>
<option value="Cost_price DESC">Cost Price DESC</option>

<option value="Unit_price ASC">Unit Price ASC</option>
<option value="Unit_price DESC">Unit Price DESC</option>

<option value="Promo_price ASC">Promo Price ASC</option>
<option value="Promo_price DESC">Promo Price DESC</option>

<option value="Quantity ASC">Quantity ASC</option>
<option value="Quantity DESC">Quantity DESC</option>

<option value="Reorder_level ASC">Re Order Level ASC</option>
<option value="Reorder_level DESC">Re Order Level DESC</option>


</select>
