<h1>POS Products</h1>


<div id="products">
<%= render partial: "pos_products", collection: @products %>  
</div>

<input type="text" class="pos_search large-4.columns" name="query" placeholder="Search POS Products" />
<br>

